{% extends 'auth_app/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'auth_app/css/user_login.css' %}">
<div class="form-container">
    <h1>Login</h1>
    <form method="post" action="{% url 'auth_app:user_login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'auth_app:signup' %}">Sign up</a></p>
</div>

{% endblock %}